<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuovo contatto</title>
</head>
<body>
    <div>
        <a href="">Home</a>
    </div>
    <div>
        <!-- form di inserimento nuovo contatto
                                                associo l'oggetto ContactForm -->
        <form method="post" th:action="@{/new}" th:object="${contactForm}">
            <div>
                <label>Nome</label>
                <!-- collego il campo all'attributo "name" della classe -->
                <input th:field="*{name}" type="text">
            </div>
            <div>
                <label>Cognome</label>
                <input th:field="*{surname}" type="text">
            </div>
            <div>
                <label>Telefono</label>
                <input th:field="*{phoneNumber}" type="tel">
            </div>
            <div>
                <label>Email</label>
                <input th:field="*{email}" type="email" placeholder="email@example.com">
            </div>
            <div>
                <input type="submit" value="Aggiungi">
                <input type="reset" value="Reset">
                <input type="button" value="Elimina">
            </div>

        </form>
    </div>
</body>
</html>