<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>Dettagli Contatto</title>
</head>
<body>
    <div class="container">
        <div class="col-3">

            <!-- allert per inserimento -->
             <div class="alert alert-success" role="alert" th:if="${newContact}!=null">
                Contatto salvato!
             </div>

        <div>
            <h2 th:text=" ${contact.name + ' ' + contact.surname}">Contatto creato!</h2>  
        </div>

        <div>
            <div> <b> Telefono: </b> <span th:text="${contact.phoneNumber}"> </span></div>
        </div>
        
        <div>
            <div> <b> Email: </b> <span th:text="${contact.email}"> </span></div>
        </div>
        </div>

        <div>
            <a th:href="@{/}" class="btn btn-primary">Home</a>
        </div>
    </div>
    
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>